html {
    width: 100%;
    height: 100%;
    font-family: Arial;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: row;
    background-color: Gainsboro;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* Styles for both log in and sign up styles */
form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-width: 280px;
}
h1 {
    font-size: 16px;
    color: DarkGray;
}
input {
    outline: none;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
}
.data {
    border-bottom: 1px solid gray;
}
input:valid:not(:placeholder-shown) {
    border-bottom: 1px solid;
    border-color: Lime !important;
}
input:invalid:not(:placeholder-shown) {
    border-bottom: 1px solid;
    border-color: red !important;
}
.form__error {
    color: red;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    display: none;
}
input:invalid:not(:placeholder-shown) + .form__error {
    display: block;
}
.send {
    width: 50%;
    align-self: center;
    color: gray;
    border: none !important;
    cursor: pointer;
    background-color: Silver;
    border-radius: 5px;
}
.send:hover,
.file-upload label:hover {
    background-color: Gainsboro;
    color: black;
    box-shadow: 0px 0px 5px 0px black;
}
a {
    align-self: center;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    margin: 10px 0px 5px 0px;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}
.link {
    width: 50%;
    background-image: linear-gradient(#fe5568 50%, #fe5568 50%),
        linear-gradient(silver 50%, silver 50%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 2px;
    color: gray;
    padding-bottom: 3px;
    transition: 0.5s ease-in-out;
}
.link:hover {
    background-size: 100% 2px, 100% 2px;
    color: #fe5568;
}
/* Log in form styles */
.container {
    display: flex;
    background-color: white;
    text-align: center;
    border-radius: 2%;
    box-shadow: 0 10px 15px gray;
}
.login-information {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
/* Form sign up styles */
img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 1px solid gray;
}
.picture-visability {
    display: block;
}
.input-information {
    display: flex;
}
.personal-photo {
    display: flex;
    flex-direction: column;
    margin: 15px;
}
input[type="file"] {
    overflow: hidden;
    border: none !important;
    display: none;
}
.file-upload {
    margin-top: 10px;
    margin-bottom: 10px;
}
.file-upload label {
    padding: 8px 25px 8px 25px;
    font-size: 12px;
    color: gray;
    background-color: Silver;
    cursor: pointer;
    border-radius: 5px;
}
.personal-information {
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.form-buttons {
    display: flex;
    flex-direction: column;
    margin: 15px;
}
